{% extends 'backend.html.twig' %}
{% form_theme form with '@Core/Admin/form.html.twig' %}
{% import "@Core/Admin/formMacros.html.twig" as formMacros %}
{% import "@Core/Admin/formMacrosTranslation.html.twig" as formMacrosTranslation %}
{% import "@Core/Admin/crop_image_macros.html.twig" as imageCrop %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 btn-wrapper">
            {% if hasAccessToRoute('admin_blog') %}
                <a href="{{ path('admin_blog') }}" class="btn btn-success"><i class="fas fa-list"></i>{{ 'Back to list'|trans }}</a>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="float-right">{{ wo_render_breadcrumbs({'viewTemplate': '@Core/Admin/breadcrumbs.html.twig'}) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="row">
                <div class="col-sm-2">
                    <div class="nav flex-column nav-pills">
                        <a class="nav-link active" data-toggle="pill" href="#tab-content">{{ 'Content'|trans }}</a>
                        <a class="nav-link" data-toggle="pill" href="#tab-image">{{ 'Image'|trans }}</a>
                        <a class="nav-link" data-toggle="pill" href="#tab-seo">{{ 'SEO Settings'|trans }}</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-content">
                            {{ formMacrosTranslation.defaultField(form.translations, 'title') }}
                            {{ formMacros.defaultCheckbox(form.published) }}
                            {{ formMacros.defaultDatepicker(form.publishedAt) }}
                            {{ formMacros.defaultField(form.gallery) }}
                            {{ formMacrosTranslation.defaultField(form.translations, 'content', '', true) }}
                            {{ formMacrosTranslation.hiddenField(form.translations, 'locale') }}
                        </div>
                        <div class="tab-pane fade show" id="tab-image">
                            {{ formMacrosTranslation.defaultField(form.translations, 'alt') }}
                            
                            <div class="form-group row">
                                {{ form_label(form.file, null, {'label_attr': {'class': 'col-form-label col-sm-2' }}) }}
                                <div class="col-sm-10">
                                    <div class="custom-file image-input">
                                       {{ form_widget(form.file, {'attr': {'class': 'custom-file-input'}}) }}
                                       <label class="custom-file-label">{{ 'Browse'|trans }}...</label>
                                    </div>
                                    <small class="form-text text-muted">{{ 'Not smaller than'|trans }} {{ size.width }}x{{ size.height }}px. {{ 'Accepted extensions'|trans }}: jpeg, jpg, png</small>
                                </div>
                            </div>

                            {{ imageCrop.renderCropImage('listBig', 'Thumbnail') }}
                            {{ imageCrop.renderCropImage('listMedium', 'Thumbnail') }}
                            {{ imageCrop.renderCropImage('listSmall', 'Thumbnail') }}

                            {% if entity.getPhotoWebPath('photo') != null %}
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-2">{{ 'Current image'|trans }}</div>
                                    <div class="col-sm-10">
                                        <img src="{{ entity.getPhotoWebPath('photo') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="help-block"><big>{{ 'Click on the thumbnail to crop'|trans }}</big></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-2">{{ 'Thumbnail'|trans }}</div>
                                    <div class="col-sm-10">
                                        <a href="{{ path('admin_blog_crop', {'id': entity.id, 'photoName': 'photo', 'type' : 'listBig'}) }}" title="{{ 'Crop the photo'|trans }}" style="display: block; float: left;">
                                            <img src="{{ entity.getThumbWebPath('photo', 'listBig') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-2">{{ 'Thumbnail'|trans }}</div>
                                    <div class="col-sm-10">
                                        <a href="{{ path('admin_blog_crop', {'id': entity.id, 'photoName': 'photo', 'type' : 'listMedium'}) }}" title="{{ 'Crop the photo'|trans }}" style="display: block; float: left;">
                                            <img src="{{ entity.getThumbWebPath('photo', 'listMedium') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-2">{{ 'Thumbnail'|trans }}</div>
                                    <div class="col-sm-10">
                                        <a href="{{ path('admin_blog_crop', {'id': entity.id, 'photoName': 'photo', 'type' : 'listSmall'}) }}" title="{{ 'Crop the photo'|trans }}" style="display: block; float: left;">
                                            <img src="{{ entity.getThumbWebPath('photo', 'listSmall') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="tab-seo">
                            {% include '@Seo/Admin/seoFields.html.twig' with {'form': form, 'title': 'title', 'content': ['content']} %}
                        </div>
                    </div>
                    <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
                    <div class="form-group row form-btn-group">
                        <div class="offset-sm-2 col-sm-10">
                            {% if form.submit is defined %}
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success' }}) }}
                            {% endif %}
                            {% if form.submit_and_list is defined %}
                                {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-primary' }}) }}
                            {% endif %}
                            {% if form.submit_and_new is defined %}
                                {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-primary' }}) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ imageCrop.renderCropJavascript('listBig', form.vars.value.getThumbSize('photo', 'listBig'), form.vars.value.getThumbSize('photo', 'listBig'), '.image-input') }}
    {{ imageCrop.renderCropJavascript('listMedium', form.vars.value.getThumbSize('photo', 'listMedium'), form.vars.value.getThumbSize('photo', 'listBig'), '.image-input') }}
    {{ imageCrop.renderCropJavascript('listSmall', form.vars.value.getThumbSize('photo', 'listSmall'), form.vars.value.getThumbSize('photo', 'listBig'), '.image-input') }}
{% endblock %}