{% extends 'backend.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 btn-wrapper">
            {% if hasAccessToRoute('admin_blog_new') %}
                <a href="{{ path('admin_blog_new') }}" class="btn btn-success"><i class="fas fa-plus"></i>{{ 'Add'|trans }}</a>
            {% endif %}
            {% if hasAccessToRoute('admin_blog_settings') %}
                <a href="{{ path('admin_blog_settings') }}" class="btn btn-primary"><i class="fas fa-cogs"></i>{{ 'Settings'|trans }}</a>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="float-right">{{ wo_render_breadcrumbs({'viewTemplate': '@Core/Admin/breadcrumbs.html.twig'}) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if entities|length > 0 %}
            <div class="panel panel-default table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="check">
                                <input type="checkbox" class="select-all">
                            </th>
                            <th>{{ 'Title'|trans }}</th>
                            <th>{{ 'Created at'|trans }}</th>
                            <th>{{ 'Updated at'|trans }}</th>
                            <th>{{ 'Published at'|trans }}</th>
                            <th class="options">{{ 'Options'|trans }}</th>
                        </tr>
                    </thead>
                    <form action="{{ path('admin_blog_selected') }}" method="post">
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <th class="check"><input type="checkbox" class="ids" name="ids[]" value="{{ entity.id }}"></th>
                                    <td>
                                        {% for locale in front_locales %}
                                            {% if front_locales|length > 1 %}{{ locale|upper }}: {% endif %}
                                            {% if entity.getTranslation(locale) is not empty %}
                                                {% if entity.getTranslation(locale).title is not empty %}
                                                    {{ entity.getTranslation(locale).title }}
                                                {% else %}
                                                    <span class="text-danger"> - </span>
                                                {% endif %}
                                            {% else %}
                                                <span class="text-danger"> - </span>
                                            {% endif %}
                                            {% if not loop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ entity.createdat|date(date_format) }}</td>
                                    <td>{{ entity.updatedat|date(date_format) }}</td>
                                    <td>{{ entity.publishedat|date(date_format) }}</td>
                                    <td class="text-right options">
                                        {% if hasAccessToRoute('admin_blog_edit') %}
                                            <a href="{{ path('admin_blog_edit', {'id': entity.id}) }}" title="{{ 'Edit'|trans }}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        {% endif %}
                                        {% if hasAccessToRoute('admin_blog_delete') %}
                                            <a href="#" data-href="{{ path('admin_blog_delete', {'id': entity.id}) }}" class="btn-delete" data-toggle="modal" data-target="#delete-modal" title="{{ 'Remove'|trans }}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <div class="float-left">
                                        <div class="form-inline">
                                            <span>{{ 'Selected'|trans }}</span>
                                            <select class="form-control" name="action" style="margin: 0 10px;">
                                                {% if hasAccessToRoute('admin_blog_delete') %}
                                                    <option value="delete">{{ 'Remove'|trans }}</option>
                                                {% endif %}
                                            </select>
                                            <button type="submit" class="btn btn-success">OK</button>
                                        </div>
                                    </div>

                                    <div class="float-right">
                                        <div class="form-inline">
                                            <span>{{ 'Page'|trans }} {{ entities.currentPageNumber }} {{ 'of'|trans }} {{ entities.getPageCount }}. {{ 'Total items'|trans }}: {{ entities.getTotalItemCount }}</span>
                                            <select id="limit-select" class="form-control" style="margin: 0 10px;">
                                                <option value="20"{% if entities.getItemNumberPerPage == 20 %} selected="selected"{% endif %}>20</option>
                                                <option value="40"{% if entities.getItemNumberPerPage == 40 %} selected="selected"{% endif %}>40</option>
                                                <option value="80"{% if entities.getItemNumberPerPage == 80 %} selected="selected"{% endif %}>80</option>
                                                <option value="160"{% if entities.getItemNumberPerPage == 160 %} selected="selected"{% endif %}>160</option>
                                                <option value="320"{% if entities.getItemNumberPerPage == 320 %} selected="selected"{% endif %}>320</option>
                                                <option value="640"{% if entities.getItemNumberPerPage == 640 %} selected="selected"{% endif %}>640</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if entities.getPageCount > 1 %}
                                <tr>
                                    <td colspan="100%">
                                        {{ knp_pagination_render(entities) }}
                                    </td>
                                </tr>
                            {% endif %}
                        </tfoot>
                    </form>
                </table>
            </div>
            {% else %}
                <h4 class="text-center">{{ 'No items in database'|trans }}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'Removal'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Do you really want to remove selected item?'|trans }}
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger btn-submit-delete">{{ 'Remove'|trans }}</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}