{% extends 'frontend.html.twig' %}

{% block meta %}
    {% if pageSettings.getTranslation(app.request.locale) is not empty %}
        {% do setIsCollectionPage(true) %}
        {% do setMetaTitleType(pageSettings.getTranslation(app.request.locale).titleType) %}
        {% do setMetaTitle([pageSettings.getTranslation(app.request.locale).seoTitle]) %}
        {% do setMetaDescription(pageSettings.getTranslation(app.request.locale).seoDescription) %}
        {% do setJsonBreadcrumbs(wo_render_breadcrumbs({'viewTemplate': 'ldjsonBreadcrumbs.html.twig'})) %}
        {% do setNoIndex(pageSettings.getTranslation(app.request.locale).noIndex) %}
        {% do setSharePhoto(pageSettings.getThumbWebPath('photo', 'full')) %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="top-image">
        {% if pageSettings.getTranslation(app.request.locale) %}
            {{ loadPicture(pageSettings, 'getThumbWebPath', 'photo', 'full', pageSettings.getTranslation(app.request.locale).alt) }}
        {% endif %}
    </div>
        
    <div class="blog-list-page">
        <div class="container">
            {% if pageSettings.getTranslation(app.request.locale) %}
                <h1 class="title">{{ inlineEditor('input', pageSettings.getTranslation(app.request.locale), 'title') }}</h1>
            {% endif %}
            {% if pageSettings.contentPosition == 'top' %}
                {% if pageSettings.getTranslation(app.request.locale) %}
                    <div class="description">
                        {{ inlineEditor('editor', pageSettings.getTranslation(app.request.locale), 'content') }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="blog-list">
                 {% for key, item in entities %}
                     <a href="{{ path('blog_show', {'slug': item.getTranslation(app.request.locale).slug}) }}" class="item{% if key is odd %} right{% endif %}">
                        {% if key is not odd %}
                            <div class="photo-wrapper">
                                {{ loadPicture(item, 'getThumbWebPath', 'photo', 'listMedium', item.getTranslation(app.request.locale).alt) }}
                            </div>
                        {% endif %}
                        <div class="item-content">
                            <span class="item-title">{{ item.getTranslation(app.request.locale).title }}</span>
                            <span class="item-description">{{ item.getTranslation(app.request.locale).content|striptags|truncate(150)|raw }}</span>
                        </div>
                        {% if key is odd %}
                            <div class="photo-wrapper">
                                {{ loadPicture(item, 'getThumbWebPath', 'photo', 'listMedium', item.getTranslation(app.request.locale).alt) }}
                            </div>
                        {% endif %}
                     </a>
                 {% endfor %}
            </div>
            {{ knp_pagination_render(entities) }}
            {% if pageSettings.contentPosition == 'bottom' %}
                {% if pageSettings.getTranslation(app.request.locale) %}
                    <div class="description">
                        {{ inlineEditor('editor', pageSettings.getTranslation(app.request.locale), 'content') }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}