<div class="blog-section">
    <div class="container">
        <h2 class="title">{{ getContent('home_blog_title') }}</h2>
        <div class="blog-container">
            {% for key, entity in entities %}
                <a href="{{ path('blog_show', {'slug': entity.getTranslation(app.request.locale).slug}) }}" class="item{% if key == 0 %} big{% elseif key == 1 %} medium{% else %} small{% endif %}">
                    {% if key == 0 %}
                        {{ loadPicture(entity, 'getThumbWebPath', 'photo', 'listBig', entity.getTranslation(app.request.locale).alt) }}
                        <div class="item-content">
                            <span class="item-title">{{ entity.getTranslation(app.request.locale).title }}</span>
                            <span class="item-description">{{ entity.getTranslation(app.request.locale).content|striptags|truncate(200)|raw }}</span>
                        </div>
                    {% elseif key == 1 %}
                        {{ loadPicture(entity, 'getThumbWebPath', 'photo', 'listMedium', entity.getTranslation(app.request.locale).alt) }}
                        <div class="item-content">
                            <span class="item-title">{{ entity.getTranslation(app.request.locale).title }}</span>
                            <span class="item-description">{{ entity.getTranslation(app.request.locale).content|striptags|truncate(150)|raw }}</span>
                        </div>
                    {% else %}
                        {{ loadPicture(entity, 'getThumbWebPath', 'photo', 'listSmall', entity.getTranslation(app.request.locale).alt) }}
                        <div class="item-content">
                            <span class="item-title">{{ entity.getTranslation(app.request.locale).title }}</span>
                            <span class="item-description">{{ entity.getTranslation(app.request.locale).content|striptags|truncate(100)|raw }}</span>
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="btn-wrapper">
            <a href="{{ path('blog') }}" class="btn btn-black">
                <span>{{ getText('show_more') }}</span>
            </a>
        </div>
    </div>
</div>