{% extends 'frontend.html.twig' %}

{% block meta %}
    {% do setIsArticle(true) %}
    {% do setHeadline(entity.getTranslation(app.request.locale).seoTitle) %}
    {% do setDateCreated(entity.createdat|date('c')) %}
    {% do setDatePublished(entity.publishedat|date('c')) %}
    {% do setDateModified(entity.updatedat|date('c')) %}
    
    
    {% do setMetaTitleType(entity.getTranslation(app.request.locale).titleType) %}
    {% do setMetaTitle([entity.getTranslation(app.request.locale).seoTitle, pageSettings.getTranslation(app.request.locale).seoTitle]) %}
    {% do setMetaDescription(entity.getTranslation(app.request.locale).seoDescription) %}
    {% do setJsonBreadcrumbs(wo_render_breadcrumbs({'viewTemplate': 'ldjsonBreadcrumbs.html.twig'})) %}
    {% do setNoIndex(entity.getTranslation(app.request.locale).noIndex) %}
    {% do setSharePhoto(entity.getThumbWebPath('photo', 'full')) %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if entity.gallery is not empty %}
        <link href="{{ asset('assets/front/css/magnific-popup.min.css') }}" rel="stylesheet" media="all" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="top-image">
        {{ loadPicture(pageSettings, 'getThumbWebPath', 'photo', 'full', pageSettings.getTranslation(app.request.locale).alt) }}
    </div>
        
    <div class="blog-details-page">
        <div class="container">
            <div class="content-wrapper">
                <div class="center-wrapper">
                    <h1 class="title">{{ inlineEditor('input', entity.getTranslation(app.request.locale), 'title') }}</h1>
                    <div class="photo-wrapper">
                        {{ loadPicture(entity, 'getThumbWebPath', 'photo', 'listMedium', entity.getTranslation(app.request.locale).alt) }}
                    </div>
                </div>
                <div class="content editor">
                    {{ inlineEditor('editor', entity.getTranslation(app.request.locale), 'content') }}
                </div>
            </div>
                
            {% include '@Gallery/Front/section.html.twig' with {'gallery': entity.gallery} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if entity.gallery is not empty %}
        <script src="{{ asset('assets/front/js/jquery.magnific-popup.min.js') }}"></script>
        <script>
            $('.gallery-section').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true,
                    tCounter: '{{ getText('label_images') }}'
                }
            });
        </script>
    {% endif %}
{% endblock %}